<section>
<article>
<h1>バイタルサイン情報モジュール(Draft)</h1>
<h2>目的と対象</h2>

<p>体温表モジュールを作成するにあたって、バイタルサインを記録するモジュール
は汎用性が高く、診療概念においても独立性が高いため、分離させることとし
た。</p>

<p>このモジュールは、体温、脈拍、血圧、SpO2といったバイタルサインの測定のために利用される。病棟回診や外来診療などで行われる任意のイベントでの計測された一連のバイタルサインを記録するために、必要なだけのitemを列記する。item間での関係性については明示しないが、一つのインスタンスに格納された収縮期血圧、拡張期血圧は同時に計測された血圧であるとする（図１）。</p>
<p>単独で利用する場合は、context情報は必須とするが、体温表モジュールなどと併用する場合には省略可能である。</p>
<%= image_tag "mmlvs_structure.png" %>
<p>このモジュールのXML Schemaは<%= link_to "ここ", "https://github.com/skoba/mml/blob/master/schema/vitalsign.xsd" %>で開発中である。</p>

<h2>namespace宣言</h2>
このモジュールのnamespaceは以下のように宣言する。<br/>

<span>xmlns:mmlVs="http://www.medxml.net/MML/ContentModule/VitalSign/1.0"</span>

<h2>文書ヘッダー情報 (docInfo) のモジュール個別仕様</h2>

<h3>docInfo</h3>
<p>属性 contentModuleType に MML0005 テーブル「vitalsign」を入力すること．</p>

<h3>title</h3>

<p>バイタルサイン情報モジュールに文書タイトルをつける必然性は見当たらないが，省略不可となっているため，何らかの文書タイトルをつけておかなければならない．想定される運用例として、介護施設や病院においての使用される「体温表」や「バイタルサイン」などのレポートタイトルを使用することが考えられる</p>

属性の generationPurpose は，MML0007 テーブル「vitalsign」 (バイタルサイン記録) と入力すること．
<h3>confirmDate</h3>

モジュール生成日であり，モジュール内の報告日時と一致させる．

<h3>mmlCi:CreatorInfo</h3>

<p>バイタルサインモジュールにおける文書作成者は、主治医ではなくてバイタルサインを記録した者である。測定者と記録者が異なる場合には、モジュール内のobserverと異なることも想定される。</p>

<table class="onecolumn">
<tr>
  <th colspan="6">mmlVs</th>
</tr>
<tr>
  <td></td>
  <td>Elements</td>
  <td>Attribute</td>
  <td>DataTypes</td>
  <td>Occurrence</td>
  <td>Table Id</td>
</tr>
<tr>
  <td>1</td>
  <td>mmlVs:VitalSignModule</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>1.1</td>
  <td>mmlVs:context</td>
  <td></td>
  <td></td>
  <td>?</td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td>mmlFs:recordId</td>
  <td>string</td>
  <td>#REQUIRED</td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td>mmlFs:recordTime</td>
  <td>dateTime</td>
  <td>#REQUIRED</td>
  <td></td>
</tr>
<tr>
  <td>1.1.1</td>
  <td>mmlVs:facility</td>
  <td></td>
  <td>string</td>
  <td>?</td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlVs:facilityCode</td>
  <td>string</td>
  <td>#REQUIRED</td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlVs:facilityCodeId</td>
  <td>string</td>
  <td>#REQUIRED</td>
  <td>MML0027</td>
</tr>
<tr>
  <td>1.1.2</td>
  <td>mmlVs:department</td>
  <td></td>
  <td>string</td>
  <td>?</td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlVs:depCode</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td>MML0028</td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlVs:depCodeId</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td>1.1.3</td>
  <td>mmlVs:ward</td>
  <td></td>
  <td>string</td>
  <td>?</td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlVs:wardCode</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td>ユーザ指定</td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlVs:wardCodeId</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td>1.1.4</td>
  <td>mmlVs:observer</td>
  <td></td>
  <td>string</td>
  <td>?</td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlVs:obsCode</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td>ユーザ指定</td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlVs:obsCodeId</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td>1.1.5</td>
  <td>mmlPi:PatientModule</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>1.2</td>
  <td>mmlVs:item</td>
  <td></td>
  <td></td>
  <td>+</td>
  <td></td>
</tr>
<tr>
  <td>1.2.1</td>
  <td>mmlVs:itemName</td>
  <td></td>
  <td>string</td>
  <td></td>
  <td>mmlVs01</td>
</tr>
<tr>
  <td>1.2.2</td>
  <td>mmlVs:value</td>
  <td></td>
  <td>string</td>
  <td>?</td>
  <td></td>
</tr>
<tr>
  <td>1.2.3</td>
  <td>mmlVs:numValue</td>
  <td></td>
  <td>decimal</td>
  <td>?</td>
  <td></td>
</tr>
<tr>
  <td>1.2.4</td>
  <td>mmlVs:unit</td>
  <td></td>
  <td>string</td>
  <td>?</td>
  <td>mmlVs02</td>
</tr>
<tr>
  <td>1.2.5</td>
  <td>mmlVs:itemMemo</td>
  <td></td>
  <td>string</td>
  <td>*</td>
  <td></td>
</tr>
<tr>
  <td>1.3</td>
  <td>mmlVs:observedTime</td>
  <td></td>
  <td>dateTime</td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>1.4</td>
  <td>mmlVs:protocol</td>
  <td></td>
  <td></td>
  <td>?</td>
  <td></td>
</tr>
<tr>
  <td>1.4.1</td>
  <td>mmlVs:procedure</td>
  <td></td>
  <td>string</td>
  <td>?</td>
  <td></td>
</tr>
<tr>
  <td>1.4.2</td>
  <td>mmlVs:device</td>
  <td></td>
  <td>string</td>
  <td>?</td>
  <td></td>
</tr>
<tr>
  <td>1.4.3</td>
  <td>mmlVs:position</td>
  <td></td>
  <td>string</td>
  <td>?</td>
  <td>mmlVs03</td>
</tr>
<tr>
  <td>1.4.4</td>
  <td>mmlVs:bodyLocation</td>
  <td></td>
  <td>string</td>
  <td>?</td>
  <td></td>
</tr>
<tr>
  <td>1.4.5</td>
  <td>mmlVs:protMemo</td>
  <td></td>
  <td>string</td>
  <td>?</td>
  <td></td>
</tr>
<tr>
  <td>1.5</td>
  <td>mmlVs:vsMemo</td>
  <td></td>
  <td>string</td>
  <td>?</td>
  <td</td>
</tr>
</table>

<p>Occurrenceなし：必ず1回出現，?： 0回もしくは1回出現，+： 1回以上出現，*： 0 回以上出現
#REQUIRED:必須属性，#IMPLIED:省略可能属性</p>

<h2>エレメント解説</h2>
<h3>1.mmlVs:VitalSignModule</h3>
<p>【内容】バイタルサイン記録モジュール</p>

<h3>1.1 mmlVs:context</h3>
<p>【内容】バイタルサインヘッダ情報。</p>
<p>【省略】体温表モジュールなど、他のモジュールに組み込んで利用する場合には、重複するようであれば省略可能。</p>
<p>属性</p>
<table class="onecolumn">
<tr>
  <th>属性名</th>
  <th>データ型</th>
  <th>省略</th>
  <th>使用テーブル</th>
  <th>説明</th>
</tr>
<tr>
  <td>mmlFs:recordId</td>
  <td>string</td>
  <td>#REQUIRED</td>
  <td></td>
  <td>一連の体温表情報についての記録</td>
</tr>
<tr>
  <td>mmlFs:recordTime</td>
  <td>dateTime</td>
  <td>#REQUIRED</td>
  <td></td>
  <td>記録した日時</td>
</tr>
</table>
</p>

<h3>1.1.1 mmlVs:facility</h3>
<p>【内容】バイタルサインを計測して記録した施設</p>
<p>【省略】このVitalSignModuleを単独で使用する場合には省略不可、FlowSheetModuleなど他のモジュールと組み合わせて使用する場合には省略可。</p>
<p>【属性】
<table class="onecolumn">
<tr>
  <th>属性名</th>
  <th>データ型</th>
  <th>省略</th>
  <th>使用テーブル</th>
  <th>説明</th>
</tr>
<tr>
  <td>mmlVs:facilityCode</td>
  <td>string</td>
  <td>#REQUIRED</td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>mmlVs:facilityCodeId</td>
  <td>string</td>
  <td>#REQUIRED</td>
  <td>MML0027</td>
  <td>用いたコード体系の名称を記載</td>
</tr>
</table>
</p>
<h3>1.1.2 mmlVs:department</h3>
<p>【内容】バイタルサインを計測し、記録した部署・診療科</p>
<p>【属性】
<table class="onecolumn">
<tr>
  <th>属性名</th>
  <th>データ型</th>
  <th>省略</th>
  <th>使用テーブル</th>
  <th>説明</th>
</tr>
<tr>
  <td>mmlVs:depCode</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td>MML0028</td>
  <td></td>
</tr>
<tr>
  <td>mmlVs:depCodeId</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
  <td>MML0028と入力</td>
</tr>
</table>
</p>
<h3>1.1.3 mmlVs:ward</h3>
<p>【内容】バイタルサインを計測し記録した病棟・場所</p>
<p>【属性】
<table class="onecolumn">
<tr>
  <th>属性名</th>
  <th>データ型</th>
  <th>省略</th>
  <th>使用テーブル</th>
  <th>説明</th>
</tr>
<tr>
  <td>mmlVs:wardCode</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td>ユーザ指定</td>
  <td></td>
</tr>
<tr>
  <td>mmlVs:wardCodeId</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
  <td>用いたテーブル名を入力</td>
</tr>
</table>
</p>
<h3>1.1.4 mmlVs:observer</h3>
<p>【内容】バイタルサインを計測した人</p>
<p>【属性】
<table class="onecolumn">
<tr>
  <th>属性名</th>
  <th>データ型</th>
  <th>省略</th>
  <th>使用テーブル</th>
  <th>説明</th>
</tr>
<tr>
  <td>mmlVs:observerCode</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td>ユーザ指定</td>
  <td></td>
</tr>
<tr>
  <td>mmlVs:observerCodeId</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
  <td>使用したコード体系を入力</td>
</tr>
</table>
</p>

<h3>1.1.5 mmlPi:PatientModule</h3>
<p>【内容】患者情報、氏名、生年月日、住所、電話番号などの患者情報。MML患者情報モジュールを利用する。</p
<p>【省略】不可</p>

<h3>1.2. mmlVs:item</h3>
<p>【内容】項目情報</p>
<p>【繰り返し設定】1回以上の繰り返しあり。項目が複数あればその数だけ繰り返す。</p>

<h3>1.2.1 mmlVs:itemName</h3>
<p>【内容】項目名</p>
<p>【データ型】string</p>
<p>【省略】不可</p>
<p>【使用テーブル】mmlVs01</p>

<h3>1.2.2 mmlVs:value</h3>
<p>【内容】文字列で表記されるバイタルサインの値</p>
<p>【データ型】string</p>
<p>【省略】可。1.2.3とどちらかが使用される。</p>

<h3>1.2.3 mmlVs:numValue</h3>
<p>【内容】数値で表記されるバイタルサインの値</p>
<p>【データ型】decimal</p>
<p>【省略】可。1.2.2とどちらかが使用される。</p>

<h3>1.2.4 mmlVs:unit</h3>
<p>【内容】バイタルサインの単位</p>
<p>【データ型】string</p>
<p>【省略】可。</p>
<p>【使用テーブル】mmlVs02</p>

<h3>1.2.5 mmlVs:itemMemo</h3>
<p>【内容】項目コメント</p>
<p>【データ型】string</p>
<p>【繰り返し設定】0回以上の繰り返しあり．項目コメントが複数あれば，数だけ繰り返す．</p>

<h3>1.3 mmlVs:observedTime</h3>
<p>【内容】バイタルサインを観察した時間</p>
<p>【データ型】dateTime</p>
<p>【省略】不可</p>

<h3>1.4 mmlVs:protocol</h3>
<p>【内容】バイタルサインの測定方法を記載する親エレメント</p>
<p>【繰り返し設定】繰り返しなし．省略可能</p>

<h3>1.4.1 mmlVs:procedure</h3>
<p>【内容】バイタルサインを測定した手順。測定方法や、負荷テストの種別など</p>
<p>【データ型】string</p>
<p>【省略】省略可能</p>

<h3>1.4.2 mmlVs:device</h3>
<p>【内容】バイタルサインの測定に使用した機材、デバイス。聴診器、水銀柱血圧計、機械式血圧計、動脈内プローベなど。</p>
<p>【データ型】string</p>
<p>【省略】省略可能</p>

<H3>1.4.3 mmlVs:bodyLocation</h3>
<p>【内容】バイタルサインを測定した身体の部位。右上腕、左下腿など。</p>
<p>【省略】string</p>
<p>【省略】省略可能</p>

<h3>1.4.4 mmlVs:position</h3>
<p>【内容】バイタルサインを測定した時の体位。</p>
<p>【データ型】string</p>
<p>【省略】省略可能</p>
<p>【使用テーブル】mmlVs03</p>

<h3>1.4.5 mmlVs:protMemo</h3>
<p>【内容】バイタルサイン測定方法に関するコメント</p>
<p>【データ型】string</p>
<p>【省略】省略可能</p>

<h3>1.5 mmlVs:vsMemo</h3>
<p>【内容】バイタルサイン記録コメント</p>
<p>【データ型】string</p>
<p>【省略】省略可能</p>

<%= link_to "フローシートモジュールのサンプルインスタンス", "https://github.com/skoba/mml/blob/master/schema/flowsheet_instance1.xml" %>
</article>
</section>
