<section>
<article>
<h1>バイタルサイン情報モジュール(Draft)</h1>
<h2>目的と対象</h2>

<p>ケアモジュールを作成するにあたって、バイタルサインを記録するモジュール
は汎用性が高く、診療概念においても独立性が高いため、分離させることとし
た。</p>

<p>このモジュールにおいては、体温、脈拍、血圧といった日常診療におけるバイ
タルサインに加えて、SpO2も含めて記録することができる。</p>

<h2>namespace宣言</h2>
このモジュールのnamespaceは以下のように宣言する。<br/>

<span>xmlns:mmlLb="http://www.medxml.net/MML/ContentModule/vitalsign/1.0"</span>

<h2>文書ヘッダー情報 (docInfo) のモジュール個別仕様</h2>

<h3>docInfo</h3>
<p>属性 contentModuleType に MML0005 テーブル「vitalsign」を入力すること．(MML0005テーブルの拡張が必要)</p>

<h3>title</h3>

<p>バイタルサイン情報モジュールに文書タイトルをつける必然性は見当たらないが，省略不可となっているため，何らかの文書タイトルをつけておかなければならない．想定される運用例として、介護施設や病院においての使用される「体温表」や「バイタルサイン」などのレポートタイトルを使用することが考えられる</p>

属性の generationPurpose は，MML0007 テーブル「recordVitalSign」 (バイタルサイン記録) と入力すること．(MML0007テーブルに拡張が必要）

<h3>confirmDate</h3>

モジュール生成日であり，モジュール内の報告日時と一致させる．

<h3>mmlCi:CreatorInfo</h3>

<p>バイタルサインモジュールにおける文書作成者は、主治医ではなくてバイタルサインを記録した者である。測定者と記録者が異なる場合には、モジュール内のobserverと異なることも想定される。</p>

<h3>extRefs</h3>

<p>バイタルサインモジュール内の mmlCm:extRef エレメントを記載する．記載されている外部リンク情報の数だけ繰り返す．</p>

<h3>content</h3>

一つの content に一つだけバイタルサインモジュールを入れる．

<table class="onecolumn">
<tr>
  <th colspan="6">mmlVs</th>
</tr>
<tr>
  <td></td>
  <td>Elements</td>
  <td>Attribute</td>
  <td>DataTypes</td>
  <td>Occurrence</td>
  <td>Table Id</td>
</tr>
<tr>
  <td>1</td>
  <td>mmlVs:VitalSignModule</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>1.1</td>
  <td>mmlVs:information</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlVs:recordId</td>
  <td>string</td>
  <td>#REQUIRED</td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlVs:observedTime</td>
  <td>dateTime</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlVs:recordTime</td>
  <td>dateTime</td>
  <td>#REQUIRED</td>
  <td></td>
</tr>
<tr>
  <td>1.1.1</td>
  <td>mmlVs:facility</td>
  <td></td>
  <td>string</td>
  <td>?</td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlVs:facilityCode</td>
  <td>string</td>
  <td>#REQUIRED</td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlVs:facilityCodeId</td>
  <td>string</td>
  <td>#REQUIRED</td>
  <td>MML0027</td>
</tr>
<tr>
  <td>1.1.2</td>
  <td>mmlVs:department</td>
  <td></td>
  <td>string</td>
  <td>?</td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlVs:depCode</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td>MML0028</td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlVs:depCodeId</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td>1.1.3</td>
  <td>mmlVs:ward</td>
  <td></td>
  <td>string</td>
  <td>?</td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlVs:wardCode</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td>ユーザ指定</td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlVs:wardCodeId</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td>1.1.4</td>
  <td>mmlVs:observer</td>
  <td></td>
  <td>string</td>
  <td>?</td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlVs:observerCode</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td>ユーザ指定</td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlVs:observerCodeId</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td>1.1.5</td>
  <td>mmlVs:repMemo</td>
  <td></td>
  <td>string</td>
  <td>*</td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlVs:repCodeName</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td>ユーザ指定</td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlVs:repCode</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td>ユーザ指定</td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlVs:repCodeId</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td>1.1.6</td>
  <td>mmlVs:repMemoF</td>
  <td></td>
  <td>string</td>
  <td>?</td>
  <td></td>
</tr>
<tr>
  <td>1.2</td>
  <td>mmlVs:vitalSign</td>
  <td></td>
  <td></td>
  <td>+</td>
  <td></td>
</tr>
<tr>
  <td>1.2.1</td>
  <td>mmlVs:item</td>
  <td></td>
  <td></td>
  <td>+</td>
  <td></td>
</tr>
<tr>
  <td>1.2.1.1</td>
  <td>mmlVs:itemName</td>
  <td></td>
  <td>string</td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlVs:itCode</td>
  <td>string</td>
  <td>#REQUIRED</td>
  <td>MML00??</td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlVs:itCodeId</td>
  <td>string</td>
  <td>#REQUIRED</td>
  <td></td>
</tr>
<tr>
  <td>1.2.1.2</td>
  <td>mmlVs:value</td>
  <td></td>
  <td>string</td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>1.2.1.3</td>
  <td>mmlVs:numValue</td>
  <td></td>
  <td>decimal</td>
  <td>?</td>
  <td></td>
</tr>
<tr>
  <td>1.2.1.4</td>
  <td>mmlVs:unit</td>
  <td></td>
  <td>string</td>
  <td>?</td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlVs:uCode</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td>MML00??</td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlVs:uCodeId</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td>1.2.1.5</td>
  <td>mmlVs:referenceInfo</td>
  <td></td>
  <td></td>
  <td>?</td>
  <td></td>
</tr>
<tr>
  <td>1.2.1.5.1</td>
  <td>mmlCm:extRef</td>
  <td></td>
  <td></td>
  <td>*</td>
  <td></td>
</tr>
<tr>
  <td>1.2.1.6</td>
  <td>mmlVs:itemMemo</td>
  <td></td>
  <td>string</td>
  <td>*</td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlVs:imCodeName</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlVs:imCode</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td>ユーザ指定</td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlVs:imCodeId</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td>1.2.1.7</td>
  <td>mmlVs:itemMemoF</td>
  <td></td>
  <td>string</td>
  <td>?</td>
  <td></td>
</tr>
</table>

<p>Occurrenceなし：必ず1回出現，?： 0回もしくは1回出現，+： 1回以上出現，*： 0 回以上出現
#REQUIRED:必須属性，#IMPLIED:省略可能属性</p>
<%= link_to "バイタルサイン記録モジュールと検歴モジュールとの比較表", "./compare_vs_lb" %>

<h2>エレメント解説</h2>
<h3>1.mmlVs:VitalSignModule</h3>
<p>【内容】バイタルサイン記録モジュール</p>
<h3>1.1 mmlVs:information</h3>
<p>【内容】バイタルサインヘッダ情報</p>
<p>属性</p>
<table class="onecolumn">
<tr>
  <th>属性名</th>
  <th>データ型</th>
  <th>省略</th>
  <th>使用テーブル</th>
  <th>説明</th>
</tr>
<tr>
  <td>mmlVs:recordId</td>
  <td>string</td>
  <td>#REQUIRED</td>
  <td></td> 	
  <td>記録ID、一連のバイタルサイン記録に対応するID</td>
</tr>
<tr>
  <td>mmlVs:observedTime</td>
  <td>dateTime</td>
  <td>#IMPLIED</td>
  <td></td>
  <td>観察した日時</td>
</tr>
<tr>
  <td>mmlVs:recordTime</td>
  <td>dateTime</td>
  <td>#REQUIRED</td>
  <td></td>
  <td>記録した日時</td>
</tr>
</table>
<h3>1.1.1 mmlVs:facility</h3>
<p>【内容】バイタルサインを計測して記録した施設</p>
<p>【属性】
<table class="onecolumn">
<tr>
  <th>属性名</th>
  <th>データ型</th>
  <th>省略</th>
  <th>使用テーブル</th>
  <th>説明</th>
</tr>
<tr>
  <td>mmlVs:facilityCode</td>
  <td>string</td>
  <td>#REQUIRED</td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>mmlVs:facilityCodeId</td>
  <td>string</td>
  <td>#REQUIRED</td>
  <td>MML0027</td>
  <td>用いたコード体系の名称を記載</td>
</tr>
</table>
</p>
<h3>1.1.2 mmlVs:department</h3>
<p>【内容】バイタルサインを計測し、記録した部署・診療科</p>
<p>【属性】
<table class="onecolumn">
<tr>
  <th>属性名</th>
  <th>データ型</th>
  <th>省略</th>
  <th>使用テーブル</th>
  <th>説明</th>
</tr>
<tr>
  <td>mmlVs:depCode</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td>MML0028</td>
  <td></td>
</tr>
<tr>
  <td>mmlVs:depCodeId</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
  <td>MML0028と入力</td>
</tr>
</table>
</p>
<h3>1.1.3 mmlVs:ward</h3>
<p>【内容】バイタルサインを計測し記録した病棟・場所</p>
<p>【属性】
<table class="onecolumn">
<tr>
  <th>属性名</th>
  <th>データ型</th>
  <th>省略</th>
  <th>使用テーブル</th>
  <th>説明</th>
</tr>
<tr>
  <td>mmlVs:wardCode</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td>ユーザ指定</td>
  <td></td>
</tr>
<tr>
  <td>mmlVs:wardCodeId</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
  <td>用いたテーブル名を入力</td>
</tr>
</table>
</p>
<h3>1.1.4 mmlVs:observer</h3>
<p>【内容】バイタルサインを計測した人</p>
<p>【属性】
<table class="onecolumn">
<tr>
  <th>属性名</th>
  <th>データ型</th>
  <th>省略</th>
  <th>使用テーブル</th>
  <th>説明</th>
</tr>
<tr>
  <td>mmlVs:observerCode</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td>ユーザ指定</td>
  <td></td>
</tr>
<tr>
  <td>mmlVs:observerCodeId</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
  <td>使用したコード体系を入力</td>
</tr>
</table>
</p>
<h3>1.1.5 mmlVs:repMemo</h3>
<p>【内容】バイタルサイン記録コメント</p>
<p>【属性】繰り返しあり、コメントがあれば、その数だけ繰り返す
<table class="onecolumn">
<tr>
  <th>属性名</th>
  <th>データ型</th>
  <th>省略</th>
  <th>使用テーブル</th>
  <th>説明</th>
</tr>
<tr>
  <td>mmlVs:repCodeName</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td>ユーザ指定</td>
  <td></td>
</tr>
<tr>
  <td>mmlVs:repCode</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td>ユーザ指定</td>
  <td></td>
</tr>
<tr>
  <td>mmlVs:repCodeId</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
  <td>用いたテーブル名を入力</td>
</tr>
</table>
</p>
<h3>1.1.6 mmlVs:repMemoF</h3>
<p>【内容】報告フリーコメント</p>
<h3>1.2 mmlVs:vitalSign</h3>
<p>【内容】バイタルサイン測定情報</p>
<p>【繰り返し設定】繰り返しあり。原則として測定されたバイタルサインがあればその数だけ繰り返す。</p>
<h3>1.2.1 mmlVs:item</h3>
<p>【内容】項目情報</p>
<p>【繰り返し設定】繰り返しあり。項目が複数あればその数だけ繰り返す。</p>
<h3>1.2.1.1 mmlVs:itemName</h3>
<p>【内容】項目名</p>
<p>【属性】
<table class="onecolumn">
<tr>
  <th>属性名</th>
  <th>データ型</th>
  <th>省略</th>
  <th>使用テーブル</th>
  <th>説明</th>
</tr>
<tr>
  <td>mmlVs:itCode</td>
  <td>string</td>
  <td>#REQUIRED</td>
  <td>MML00??</td>
  <td>新規テーブル</td>
</tr>  
<tr>
  <td>mmlVs:itCodeId</td>
  <td>string</td>
  <td>#REQUIRED</td>
  <td></td>
  <td>MML00??と入力</td>
</tr>  
</table>
</p>
<h3>1.2.1.2 mmlVs:value</h3>
<p>【内容】文字列で表記される値</p>
<h3>1.2.1.3 mmlVs:numValue</h3>
<p>【内容】数値で表記される値</p>
<h3>1.2.1.4 mmlVs:unit</h3>
<p>【内容】単位</p>
<p>【属性】
<table class="onecolumn">
<tr>
  <th>属性名</th>
  <th>データ型</th>
  <th>省略</th>
  <th>使用テーブル</th>
  <th>説明</th>
</tr>
<tr>
  <td>mmlVs:uCode</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td>MML00??</td>
  <td></td>
</tr>
<tr>
  <td>mmlVs:uCodeId</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
  <td>MML00??を定義するのであればそれを入力</td>
</tr>
</table>
</p>
<h3>1.2.1.5 mmlVs:referenceInfo</h3>
<p>【内容】外部参照情報</p>
<h3>1.2.1.5.1 mmlCm:extRef</h3>
<p>【内容】外部参照．図，グラフなどを添付するときに，MML 共通形式 (外部参照形式) を用いる．</p>
<p>【繰り返し設定】繰り返しあり．外部参照ファイルが複数あれば，数だけ繰り返す．</p>
<h3>1.2.1.6 mmlVs:itemMemo</h3>
<p>【内容】項目コメント</p>
<p>【繰り返し設定】繰り返しあり．項目コメントが複数あれば，数だけ繰り返す．</p>
<p>【属性】
<table class="onecolumn">
<tr>
  <th>属性名</th>
  <th>データ型</th>
  <th>省略</th>
  <th>使用テーブル</th>
  <th>説明</th>
</tr>
<tr>
  <td>mmlVs:imCodeName</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
  <td>項目コメント名称</td>
</tr>
<tr>
  <td>mmlVs:imCode</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td>ユーザ指定</td>
  <td></td>
</tr>
<tr>
  <td>mmlVs:imCodeId</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
  <td>用いたテーブル名を入力</td>
</tr>
</table>
<h3>1.2.1.7 mmlVs:itemMemoF</h3>		 	 	 	
<p>【内容】項目フリーコメント</p>		 	 	 	
</article>
</section>
