<h1>Listing mmlcas</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mmlca.each do |mmlca| %>
      <tr>
        <td><%= link_to 'Show', mmlca %></td>
        <td><%= link_to 'Edit', edit_mmlca_path(mmlca) %></td>
        <td><%= link_to 'Destroy', mmlca, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mmlca', new_mmlca_path %>
