<h1>MML介護モジュール概要</h1>
<p>介護モジュールの仕様と実装例について、試験的に実装を積み重ねていきます。</p>
<p>介護モジュールの副産物として、<%= link_to "バイタルサインモジュール", mmlvs_specification_path %>を作成しました</p>
<h2>ToDo</h2>
<ul>
  <li>mmlCa</li>
  <li>mmlVs</li>
  <ul>
    <li>MML0005テーブルの拡張</li>
    <li>MML0007テーブルの拡張</li>
  </ul>
</ul>


