<h1>MML介護関連モジュール(Draft)概要</h1>
<p>2013年3月より介護に関連したモジュールについて仕様と実装例について検討を進めてきました。MMLがこれまで対象としてきた医療機関だけではなく、長期療養型施設群や在宅といった場面での利用も想定する必要があり、より多くの職種も関連します。</p>
<p>そうした多施設間連携、地域連携パスなど幅広い用途での使用にたえる規格を一つのモジュールとして作成することは不可能ですので、先行する要望として提案された<%= link_to "体温表モジュールと",mmlca_specification_path %>、<%= link_to "バイタルサインモジュール", mmlvs_specification_path %>を公開して広く意見を求めることとしました。</p>
<p>この規格はまだ試用段階であり、正式に決定されたものではありません。今後大きく仕様が変更される可能性がありますので、現時点での規格を利用したアプリケーションの実装は自己責任の範囲でお願いします。</p>
<p>この規格についての意見を募集しております。</p>
<p>このWebサイトでのソースコード一式は以下のサイトで公開しています。ライセンスはApache2です。<br/>
<a href="https://github.com/skoba/mml-rails">https://github.com/skoba/mml-rails</a>
</p>
<p>この仕様をまとめるにさいして、ご協力くださったみなさまにこの場を借りてお礼申し上げます。</p>
<h2>ToDo</h2>
  <ul>
    <li>エレメント解説</li>
    <li>MML0005テーブル module type 記載内容モジュールへの文書タイプ追加</li>
    <li>MML0006テーブル Access (アクセス権者)の拡張</li>
    <li>MML0007テーブル Gereration purpose 文書詳細モジュールへの文書タイプ追加</li>
    <li>MML0026テーブル Creator license code 記録者分類および医療資格コードのへの追加の検討：介護職員、ボランティア、ヘルパー、家族</li>
    <li>MML0027テーブル Facility ID type への介護保険事業者番号の追加</li>
    <li>MML0029テーブル Department ID type への介護施設対応</li>
    <li>MML0031テーブル Insurance Class(保険種別)への介護保険対応</li>
    <li>MML0033テーブル vitalSign 熱型表項目の改訂・検討</li>
    <li>MML0035, MML0036 施設・個人アクセス権について介護従事者やヘルパー、ボランティア、家族などの無資格者を含めたの評価・検討</li>
  </ul>
</ul>

<h2>ToDiscuss</h2>
<ul>
  <li>文字コードの移行：Shift-JIS -> UTF-8</li>
  <li>MML V4改訂に向けた準備</li>
  <li>DTDからXML Schemaへの移行</li>
  <li>タグの改廃について</li>
</ul>


