<section>
<article>
<h1>体温表モジュール(Draft)</h1>
<h2>目的と対象</h2>

<p>日々の介護や看護で記録される体温表を記録するために使用される。</p>

<p>このモジュールにおいては、バイタルサインモジュールとあわせて、食事摂取量、排泄についての情報を扱っていく。想定されるユースケースは体温表に記載される各種情報である。</p>

<h2>namespace宣言</h2>
このモジュールのnamespaceは以下のように宣言する。<br/>

<span>xmlns:mmlLb="http://www.medxml.net/MML/ContentModule/flowsheet/1.0"</span>

<h2>文書ヘッダー情報 (docInfo) のモジュール個別仕様</h2>

<h3>docInfo</h3>
<p>属性 contentModuleType に MML0005 テーブルより「flowsheet」を入力すること．</p>

<h3>title</h3>

<p>このモジュールは病棟あるいは介護施設などで日々記録される体温表を主なユースケースと考えている。したがって、レポートタイトルとしては「体温表」であることを前提とするが、病棟で慣用的に利用される「熱型表」「体温表」や「温度板」なども、タイトルとして使用されることを想定している。</p>

<p>属性の generationPurpose は，MML0007 テーブルより「flowsheet」 (体温表) と入力すること．</p>

<h3>confirmDate</h3>

モジュール生成日であり，モジュール内の報告日時と一致させる．

<h3>mmlCi:CreatorInfo</h3>

<p>体温表モジュールでは、多職種にわたる複数の人間が観察した情報が一つの報告書に記載されることがある。最終的な記載者あるいは代表者が作成者情報として記録される。</p>

<h3>content</h3>

一つの content に一つだけ体温表モジュールを入れる．

<table class="onecolumn">
<thead>
<tr>
  <th colspan="6">mmlVs</th>
</tr>
<tr>
  <th></th>
  <th>Elements</th>
  <th>Attribute</th>
  <th>DataTypes</th>
  <th>Occurrence</th>
  <th>Table Id</th>
</tr>
</thead>
<tbody>
<tr>
  <td>1 mmlFs:FlowSheetModule</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>1.1 mmlFs:context</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>1.1.1</td>
  <td>mmlFs:facility</td>
  <td></td>
  <td>string</td>
  <td>?</td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlFs:facilityCode</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlFs:facilityCodeId</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td>MML0027</td>
</tr>
<tr>
  <td>1.1.2</td>
  <td>mmlFs:department</td>
  <td></td>
  <td>string</td>
  <td>?</td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlFs:depCode</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td>MML0028</td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlFs:depCodeId</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td>1.1.3</td>
  <td>mmlFs:ward</td>
  <td></td>
  <td>string</td>
  <td>?</td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlFs:wardCode</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td>ユーザ指定</td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlFs:wardCodeId</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td>1.1.4</td>
  <td>mmlFs:observer</td>
  <td></td>
  <td>string</td>
  <td>?</td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlFs:obsCode</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td>ユーザ指定</td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>mmlFs:obsCodeId</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td>1.1.5</td>
  <td>mmlPi:PatientModule</td>
  <td></td>
  <td></td>
  <td>#REQUIRED</td>
  <td></td>
</tr>
<tr>
  <td>1.2</td>
  <td>mmlVs:VitalSignModule</td>
  <td></td>
  <td></td>
  <td>*</td>
  <td></td>
</tr>
<tr>
  <td>1.3</td>
  <td>mmlFs:intake</td>
  <td></td>
  <td></td>
  <td>*</td>
  <td></td>
</tr>
<tr>
  <td>1.3.1</td>
  <td>mmlFs:intakeType</td>
  <td></td>
  <td>string</td>
  <td>#REQUIRED</td>
  <td>mmlFs01</td>
</tr>
<tr>
  <td>1.3.2</td>
  <td>mmlFs:intakeVolume</td>
  <td></td>
  <td>decimal</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td>1.3.3</td>
  <td>mmlFs:intakeUnit</td>
  <td></td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td>mmlFs02</td>
</tr>
<tr>
  <td>1.3.4</td>
  <td>mmlFs:intakePathway</td>
  <td></td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td>1.3.5</td>
  <td>mmlFs:intakeStartTime</td>
  <td></td>
  <td>dateTime</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td>1.3.6</td>
  <td>mmlFs:intakeEndTime</td>
  <td></td>
  <td>dateTime</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td>1.3.7</td>
  <td>mmlFs:intakeMemo</td>
  <td></td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td>1.4</td>
  <td>mmlFs:bodilyOutput</td>
  <td></td>
  <td></td>
  <td>*</td>
  <td></td>
</tr>
<tr>
  <td>1.4.1</td>
  <td>mmlFs:boType</td>
  <td></td>
  <td>string</td>
  <td>#REQUIRED</td>
  <td>mmlFs03</td>
</tr>
<tr>
  <td>1.4.2</td>
  <td>mmlFs:boVolume</td>
  <td></td>
  <td>decimal</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td>1.4.3</td>
  <td>mmlFs:boUnit</td>
  <td></td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td>mmlFs04</td>
</tr>
<tr>
  <td>1.4.4</td>
  <td>mmlFs:boStatus</td>
  <td></td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td>1.4.5</td>
  <td>mmlFs:boColor</td>
  <td></td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td>1.4.6</td>
  <td>mmlFs:boPathway</td>
  <td></td>
  <td>string</td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>1.4.7</td>
  <td>mmlFs:boStartTime</td>
  <td></td>
  <td>dateTime</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td>1.4.8</td>
  <td>mmlFs:boEndTime</td>
  <td></td>
  <td>dateTime</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td>1.4.9</td>
  <td>mmlFs:boMemo</td>
  <td></td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td>1.4.10</td>
  <td>mmlFs:boFrequency</td>
  <td></td>
  <td></td>
  <td>*</td>
</tr>
<tr>
  <td>1.4.10.1</td>
  <td>mmlFs:bofTimes</td>
  <td></td>
  <td>decimal</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td>1.4.10.2</td>
  <td>mmlFs:bofPeriodStart</td>
  <td></td>
  <td>dateTime</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td>1.4.10.3</td>
  <td>mmlFs:bofPeriodEnd</td>
  <td></td>
  <td>dateTime</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td>1.4.10.4</td>
  <td>mmlFs:bofMemo</td>
  <td></td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
</tr>
<tr>
  <td>1.5</td>
  <td>mmlFs:fsMemo</td>
  <td></td>
  <td>string</td>
  <td>*</td>
  <td></td>
</tr>
</tbody>
</table>

<p>Occurrenceなし：必ず1回出現，?： 0回もしくは1回出現，+： 1回以上出現，*： 0 回以上出現
#REQUIRED:必須属性，#IMPLIED:省略可能属性</p>

<h2>エレメント解説</h2>
<h3>1.mmlFs:FlowSheetModule</h3>
<p>【内容】体温表モジュール</p>
<h3>1.1 mmlFs:context</h3>
<p>【内容】体温表モジュールヘッダ情報を表す親エレメント</p>
<p>【省略】不可</p>
<h3>1.1.1 mmlFs:facility</h3>
<p>【内容】体温表を記録した施設</p>
<p>【属性】
<table class="onecolumn">
<tr>
  <th>属性名</th>
  <th>データ型</th>
  <th>省略</th>
  <th>使用テーブル</th>
  <th>説明</th>
</tr>
<tr>
  <td>mmlFs:facilityCode</td>
  <td>string</td>
  <td>#REQUIRED</td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>mmlFs:facilityCodeId</td>
  <td>string</td>
  <td>#REQUIRED</td>
  <td>MML0027</td>
  <td>用いたコード体系の名称を記載</td>
</tr>
</table>
</p>
<h3>1.1.2 mmlFs:department</h3>
<p>【内容】体温表を記録した部署</p>
<p>【属性】
<table class="onecolumn">
<tr>
  <th>属性名</th>
  <th>データ型</th>
  <th>省略</th>
  <th>使用テーブル</th>
  <th>説明</th>
</tr>
<tr>
  <td>mmlFs:depCode</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td>MML0028</td>
  <td></td>
</tr>
<tr>
  <td>mmlFs:depCodeId</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
  <td>MML0028と入力</td>
</tr>
</table>
</p>
<h3>1.1.3 mmlFs:ward</h3>
<p>【内容】体温表を記録した病棟・場所</p>
<p>【属性】
<table class="onecolumn">
<tr>
  <th>属性名</th>
  <th>データ型</th>
  <th>省略</th>
  <th>使用テーブル</th>
  <th>説明</th>
</tr>
<tr>
  <td>mmlFs:wardCode</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td>ユーザ指定</td>
  <td></td>
</tr>
<tr>
  <td>mmlFs:wardCodeId</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
  <td>用いたテーブル名を入力</td>
</tr>
</table>
</p>
<h3>1.1.4 mmlFs:observer</h3>
<p>【内容】体温表情報の観察者</p>
<p>【属性】
<table class="onecolumn">
<tr>
  <th>属性名</th>
  <th>データ型</th>
  <th>省略</th>
  <th>使用テーブル</th>
  <th>説明</th>
</tr>
<tr>
  <td>mmlFs:obsCode</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td>ユーザ指定</td>
  <td></td>
</tr>
<tr>
  <td>mmlFs:obsCodeId</td>
  <td>string</td>
  <td>#IMPLIED</td>
  <td></td>
  <td>用いたテーブル名を入力</td>
</tr>
</table>
</p>

<h3>1.1.5 mmlPi:PatientModule</h3>
<p>【内容】患者情報、氏名、生年月日、住所、電話番号などの患者情報。MML患者情報モジュールを利用する。</p
<p>【省略】不可</p>

<h3>1.2 mmlVs:VitalSignModule</h3>
<p>【内容】バイタルサイン情報</p>
<p>【繰り返し設定】繰り返しあり。測定された一連のバイタルサインの数だけ繰り返す。(例：ラウンド時に計測された収縮期血圧、拡張期血圧、脈拍、体温、SpO2）</p>

<h3>1.3 mmlFs:intake</h3>
<p>【内容】水分や食事などの摂取状況に関する親エレメント</p>
<p>【繰り返し設定】0回以上の繰り返しあり。</p>

<h3>1.3.1 mmlFs:intakeType</h3>
<p>【内容】摂取した食べ物・飲み物の種類。例：朝食(主)、昼食（副）、水分、経管栄養食など。</p>
<p>【省略】不可。</p>
<p>【データ型】string</p>
<p>【使用テーブル】mmlFs01</p>

<h3>1.3.2 mmlFs:intakeVolume</h3>
<p>【内容】摂取した食べ物・飲み物の量。</p>
<p>【省略】可</p>
<p>【データ型】decimal</p>

<h3>1.3.3 mmlFs:intakeUnit</h3>
<p>【内容】摂取した食べ物・飲み物の単位。/10, ml, g, kcal, など</p>
<p>【省略】可</p>
<p>【データ型】string</p>
<p>【使用テーブル】mmlFs02</p>

<h3>1.3.4 mmlFs:intakePathway</h3>
<p>【内容】摂取経路。経口摂取、経管、IVH管理など</p>
<p>【省略】#IMPLIED</p>
<p>【データ型】string</p>

<h3>1.3.5 mmlFs:intakeStartTime</h3>
<p>【内容】摂取開始時間。観察を開始した時間を記録する。開始、終了の別なく記録をする場合にはこちらに時間を記入する。</p>
<p>【省略】#IMPLIED</p>
<p>【データ型】dateTime</p>

<h3>1.3.6 mmlFs:intakeEndTime</h3>
<p>【内容】摂取終了時間。</p>
<p>【省略】#IMPLIED</p>
<p>【データ型】dateTime</p>

<h3>1.3.7 mmlFs:intakeMemo</h3>
<p>【内容】摂取状況に関するコメント・メモ。</p>
<p>【省略】#IMPLIED</p>
<p>【データ型】string</p>

<h3>1.4 mmlFs:bodilyOutput</h3>
<p>【内容】体外に排泄されるものについて記録する親エレメント。尿、便以外にも胸水、腹水、体液、胆汁、その他の分泌物なども対処とする。</p>
<p>【繰り返し設定】0回以上</p>

<h3>1.4.1 mmlFs:boType</h3>
<p>【内容】排泄物の種類。</p>
<p>【省略】不可</p>
<p>【データ型】string</p>
<p>【使用テーブル】mmlFs03</p>

<h3>1.4.2 mmlFs:boVolume</h3>
<p>【内容】排泄物の量。</p>
<p>【省略】#IMPLIED</p>
<p>【データ型】decimal</p>

<h3>1.4.3 mmlFs:boUnit</h3>
<p>【内容】1.4.2排泄物の量の単位。</p>
<p>【省略】#IMPLIED</p>
<p>【データ型】string</p>
<p>【使用テーブル】mmlFs04</p>

<h3>1.4.4 mmlFs:boStatus</h3>
<p>【内容】排泄物の性状。軟便、下痢、混濁など。大量・中等量、少量など数値化できないもここに記載する。</p>
<p>【省略】#IMPLIED</p>
<p>【データ型】string</p>

<h3>1.4.5 mmlFs:boColor</h3>
<p>【内容】排泄物の色調。黄色、茶褐色など。</p>
<p>【省略】#IMPLIED</p>
<p>【データ型】string</p>

<h3>1.4.6 mmlFs:pathway</h3>
<p>【内容】排泄経路、カテーテルやドレーン、ストマなど</p>
<p>【省略】#IMPLIED</p>
<p>【データ型】string</p>

<h3>1.4.7 mmlFs:boStartTime</h3>
<p>【内容】排泄開始時間。観察を開始した時間を記録する。開始、終了の別なく記録をする場合にはこちらに時間を記入する。</p>
<p>【省略】#IMPLIED</p>
<p>【データ型】dateTime</p>

<h3>1.4.8 mmlFs:boEndTime</h3>
<p>【内容】排泄終了時間。</p>
<p>【省略】#IMPLIED</p>
<p>【データ型】dateTime</p>

<h3>1.4.9 mmlFs:boMemo</h3>
<p>【内容】排泄物に関するコメント、メモ。便秘3日目、出血は収束傾向など。</p>
<p>【省略】#IMPLIED</p>
<p>【データ型】string</p>

<h3>1.4.10 mmlFs:boFrequency</h3>
<p>【内容】一定時間内の排泄回数を表現する親エレメント。</p>
<p>【繰り返し】0回以上の繰り返しあり</p>

<h3>1.4.10.1 mmlFs:bofTimes</h3>
<p>【内容】一定期間内に観察された排泄回数。</p>
<p>【省略】#IMPLIED</p>
<p>【データ型】decimal</p>

<h3>1.4.10.2 mmlFs:bofTimes</h3>
<p>【内容】観察を開始した時間。</p>
<p>【省略】#IMPLIED</p>
<p>【データ型】dateTime</p>

<h3>1.4.10.3 mmlFs:bofMemo</h3>
<p>【内容】数値化されない頻度表現。頻回、乏尿など。</p>
<p>【省略】#IMPLIED</p>
<p>【データ型】string</p>


<h3>1.5 mmlFs:fsMemo</h3>
<p>【内容】体温表コメント、メモ。その他の体温表に記載する内容。</p>
<p>【属性】繰り返しあり、コメントがあれば、その数だけ繰り返す</p>
<p>【データ型】string</p>
</article>
</section>
