<section>
<article>
<h1>改訂されるテーブル一覧(Draft)</h1>
<h2>MML0005 Content Module type(記載内容モジュールの種別)</h2>
<table class="onecolumn">
<tr>
  <th>Value</th>
  <th>Description</th>
</tr>
<tr>
  <td>patientInfo</td>
  <td>patient module</td>
</tr>  
<tr>
  <td>healthInsurance</td>
  <td>health insurance module</td>
</tr>
<tr>
  <td>registeredDiagnosis</td>
  <td>registered diagnosis module</td>
</tr>
<tr>
  <td>lifestyle</td>
  <td>lifestyle module</td>
</tr>
<tr>
  <td>baseClinic</td>
  <td>base clinic module</td>
</tr>
<tr>
  <td>firstClinic</td>
  <td>first clinic module</td>
</tr>
<tr>
  <td>progressCourse</td>
  <td>progress course module</td>
</tr>
<tr>
  <td>surgery</td>
  <td>surgery module</td>
</tr>
<tr>
  <td>summary</td>
  <td>summary module</td>
</tr>
<tr>
  <td>claim</td>
  <td>予約請求モジュール</td>
</tr>
<tr>
  <td>claimAmount</td>
  <td>点数金額モジュール</td>
</tr>
<tr>
  <td>referral</td>
  <td>紹介状モジュール</td>
</tr>
<tr>
  <td>test</td>
  <td>検歴情報モジュール</td>
</tr>
<tr>
  <td>report</td>
  <td>報告書情報モジュール</td>
</tr>
<tr class="new">
  <td>vitalsign</td>
  <td>バイタルサインモジュール</td>
</tr>
<tr class="new">
  <td>flowsheet</td>
  <td>体温表モジュール</td>
</tr>
</table>
<h2>MML0007 Generation purpose (文書詳細種別)</h2>
<table class="onecolumn">
<tr>
  <th>Value</th>
  <th>Description</th>
</tr>
<tr>
  <td>record</td>
  <td>診療記録</td>
</tr>
<tr>
  <td>recordAdmission</td>
  <td>入院時診療記録</td>
</tr>
<tr>
  <td>recordInpatient</td>
  <td>入院中診療経過記録</td>
</tr>
<tr>
  <td>recordConsult</td>
  <td>紹介時診療記録 (状態，処方，検査値等)</td>
</tr>
<tr>
  <td>recordDischarge</td>
  <td>退院時診療記録 (状態，処方，検査値等)</td>
</tr>
<tr>
  <td>recordOutpatient</td>
  <td>外来診療記録</td>
</tr>
<tr>
  <td>legalRecord</td>
  <td>法的義務に基づく診療記録</td>
</tr>
<tr>
  <td>consult</td>
  <td>紹介状</td>
</tr>
<tr>
  <td>report</td>
  <td>返書報告書</td>
</tr>
<tr>
  <td>reportRadiology</td>
  <td>放射線報告書</td>
</tr>
<tr>
  <td>reportPathology</td>
  <td>病理報告書</td>
</tr>
<tr>
  <td>reportTest</td>
  <td>検歴報告書</td>
</tr>
<tr>
  <td>summary</td>
  <td>要約</td>
</tr>
<tr>
  <td>summaryAdmission</td>
  <td>要約 (入院時)</td>
</tr>
<tr>
  <td>summaryPreoperation</td>
  <td>要約 (術前)</td>
</tr>
<tr>
  <td>summaryPostoperation</td>
  <td>要約 (術後)</td>
</tr>
<tr>
  <td>summaryMid</td>
  <td>要約 (中間)</td>
</tr>
<tr>
  <td>summaryDischarge</td>
  <td>要約 (退院時)</td>
</tr>
<tr>
  <td>summaryOutpatient</td>
  <td>要約 (外来)</td>
</tr>
<tr>
  <td>disclosure</td>
  <td>患者診療情報開示用</td>
</tr>
<tr>
  <td>informedConsent</td>
  <td>患者説明文書</td>
</tr>
<tr>
  <td>study</td>
  <td>研究用記録</td>
</tr>
<tr>
  <td>other</td>
  <td>その他</td>
</tr>
<tr>
  <td>claim</td>
  <td>医事情報</td>
</tr>
<tr class="new">
  <td>VitalSign</td>
  <td>バイタルサイン記録</td>
</tr>
<tr class="new">
  <td>FlowSheet</td>
  <td>体温表</td>
</tr>
</table>
</article>
<article>
<h1>追加されるテーブル一覧(Draft)</h1>
<h2>mmlVs01 バイタルサイン項目</h2>
<table class="onecolumn">
<tr>
  <th>Value</th>
  <th>Description</th>
</tr>
<tr>
  <td>Pulse rate</td>
  <td>脈拍</td>
</tr>
<tr>
  <td>Body temperature</td>
  <td>体温</td>
</tr>
<tr>
  <td>Systolic blood pressure</td>
  <td>収縮期血圧</td>
</tr>
<tr>
  <td>Diastolic blood pressure</td>
  <td>拡張期血圧</td>
</tr>
<tr>
  <td>SpO2</td>
  <td>経皮的酸素飽和度</td>
</tr>
<tr>
  <td>EtCO2</td>
  <td>呼気終末二酸化炭素濃度</td>
</tr>
<tr>
  <td>SaO2</td>
  <td>動脈血酸素飽和度</td>
</tr>
<tr>
  <td>PaO2</td>
  <td>動脈血酸素分圧</td>
</tr>
<tr>
  <td>PCO2</td>
  <td>動脈血二酸化炭素分圧</td>
</tr>
<tr>
  <td>Height</td>
  <td>身長</td>
</tr>
<tr>
  <td>Weight</td>
  <td>体重</td>
</tr>
<tr>
  <td>Blood sugar</td>
  <td>血糖値</td>
</tr>
</table>
<h2>mmlVs02 バイタルサイン測定単位</h2>
<table class="onecolumn">
<tr>
  <th>Value</th>
  <th>Description</th>
</tr>
<tr>
  <td>mmHg</td>
  <td>ミリメートル水銀柱高度</td>
</tr>
<tr>
  <td>centigrade</td>
  <td>摂氏温度</td>
</tr>
<tr>
  <td>/min</td>
  <td>一分あたりの回数</td>
</tr>
<tr>
  <td>%</td>
  <td>パーセント</td>
</tr>
<tr>
  <td>cm</td>
  <td>センチメートル</td>
</tr>
<tr>
  <td>kg</td>
  <td>キログラム</td>
</tr>
<tr>
  <td>mg/dl</td>
  <td>1デシリットルあたりのmg重量</td>
</tr>
</table>
<h2>mmlVs03 バイタルサイン体位名称テーブル</h2>
<table class="onecolumn">
<tr>
  <th>Value</th>
  <th>Description</th>
</tr>
<tr>
  <td>sitting</td>
  <td>坐位</td>
</tr>
<tr>
  <td>standing</td>
  <td>立位</td>
</tr>
<tr>
  <td>lying</td>
  <td>臥位</td>
</tr>
<tr>
  <td>reclining</td>
  <td>半座位</td>
</tr>
<tr>
  <td>tilting</td>
  <td>ティルティング位</td>
</tr>
</table>


<h2>mmlFs01 体温表モジュール摂食・飲水種別</h2>
体温表モジュールに記載する摂食・飲水の種別。食習慣の違いから国際的に統一したテーブルを作ることは困難であるため、日本での事例に合わせて項目を列記する。
<table class="onecolumn">
<tr>
  <th>Value</th>
  <th>Description</th>
</tr>
<tr>
  <td>朝食(主)</td>
  <td></td>
</tr>  
<tr>
  <td>朝食(副)</td>
  <td></td>
</tr>  
<tr>
  <td>昼食(主)</td>
  <td></td>
</tr>  
<tr>
  <td>昼食(副)</td>
  <td></td>
</tr>  
<tr>
  <td>夕食(主)</td>
  <td></td>
</tr>  
<tr>
  <td>夕食(副)</td>
  <td></td>
</tr>  
<tr>
  <td>夜食(主)</td>
  <td></td>
</tr>  
<tr>
  <td>夜食(副)</td>
  <td></td>
</tr>  
<tr>
  <td>おやつ</td>
  <td></td>
</tr>  
<tr>
  <td>補食</td>
  <td></td>
</tr>  
<tr>
  <td>経管栄養剤</td>
  <td></td>
</tr>  
<tr>
  <td>その他食事</td>
  <td></td>
</tr>  
<tr>
  <td>水分</td>
  <td></td>
</tr>  
<tr>
  <td>お茶</td>
  <td></td>
</tr>  
<tr>
  <td>ジュース</td>
  <td></td>
</tr>  
<tr>
  <td>その他飲料</td>
  <td></td>
</tr>
</table>
<h2>mmlFs02 体温表モジュール摂食・飲水単位</h2>
<table class="onecolumn">
<tr>
  <th>Value</th>
  <th>Description</th>
</tr>
<tr>
  <td>/10</td>
  <td>全量を10として、摂食できた分量</td>
</tr>  
<tr>
  <td>kcal</td>
  <td>摂取カロリー量</td>
</tr>  
<tr>
  <td>ml</td>
  <td>摂取容量</td>
</tr>  
<tr>
  <td>g</td>
  <td>摂取した重量</td>
</tr>  
<tr>
  <td>kg</td>
  <td>摂取した重量</td>
</tr>  
</table>
<h2>mmlFs03 体温表モジュール排泄種別</h2>
<table class="onecolumn">
<tr>
  <th>Value</th>
  <th>Description</th>
</tr>
<tr>
  <td>urine</td>
  <td>尿</td>
</tr>
<tr>
  <td>feces</td>
  <td>便</td>
</tr>
<tr>
  <td>blood</td>
  <td>血液</td>
</tr>
<tr>
  <td>bile</td>
  <td>胆汁</td>
</tr>
  <td>pleural effusion</td>
  <td>胸水</td>
</tr>
</tr>
  <td>ascites</td>
  <td>腹水</td>
</tr>
</tr>
  <td>other fluid</td>
  <td>その他の体液</td>
</tr>
</table>
<h2>mmlFs04 体温表モジュール摂食・飲水単位</h2>
<table class="onecolumn">
<tr>
  <th>Value</th>
  <th>Description</th>
</tr>
<tr>
  <td>/10</td>
  <td>全量を10として、摂食できた分量</td>
</tr>  
<tr>
  <td>kcal</td>
  <td>摂取カロリー量</td>
</tr>  
<tr>
  <td>ml</td>
  <td>摂取容量</td>
</tr>  
<tr>
  <td>g</td>
  <td>摂取した重量</td>
</tr>  
<tr>
  <td>kg</td>
  <td>摂取した重量</td>
</tr>  
</table>
</article>
</section>
