language: ruby
rvm:
  - 2.0.0
  - 1.9.3

postgres:
adapter: postgresql
database: mml_care_test
username: postgres

before_script:
  - "psql -c 'create database mml_care_test;' -U postgres"
  - "rake db:migrate"