<p id="notice"><%= notice %></p>

<h1>処方一覧</h1>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>発行日</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @prescriptions.each do |prescription| %>
      <tr>
	<td><%= prescription.name %></td>
	<td><%= prescription.created_at.to_s(:date_only) %></td>
        <td><%= link_to 'Show', prescription %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
