<p id="notice"><%= notice %></p>

<h1>注射一覧</h1>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>発行日</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @injections.each do |injection| %>
      <tr>
	<td><%= injection.name %></td>
	<td><%= injection.created_at.to_s(:date_only) %></td>
        <td><%= link_to 'Show', injection %></td>
      </tr>
    <% end %>
  </tbody>
</table>

