#columns {
    #main {
	margin-left: 17em;
	padding: 1em;
    }
    #nav {
	float: left;
	padding: 1em 2em;
	ul {
	    list-style: none;
	}
    }
}
table {
    width: 240px;
    border-collapse: collapse;
    border: solid 1px black;
}
table.twocolumn {
    width: 1200px;
    border-collapse: collapse;
    border: solid 1px black;
}
table.onecolumn {
    width: 600px;
    border-collapse: collapse;
    border: solid 1px black;
}
th {
    border: solid 2px black;
}
td {
    border: solid 1px black;
}
tr.new {
    color: red;
    text-decoration: underline;
}
h1 {
    text-align: left;
    font-weight: bold;
    font-size: 18pt;
}