// Place all the styles related to the mmlvs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
    width: 1200px;
    border-collapse: collapse;
    border: solid 2px black;
}
th {
    border: solid 3px black;
}

td {
   border: solid 2px black;
}